@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.miama{
    font-family: 'Miama', sans-serif;
}


/*Shared Style*/
body{
    max-width : 100%;
    margin: 0 auto;
    background : black;
    color : white;
}
.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}

.primary-color {
    color: #E6533C;
}

.white{
    color :rgb(250, 250, 249);
}

.light-white {
    color: rgba(255, 255, 255, 0.5);
}

.banner-description {
    font-size: 0.95rem;
    font-weight: 400;
    text-align: left;
    margin: 40px 0 40px 0;
}

/* .card-blur{
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
} */

.btn-primary{
    color : white;
    background: rgb(230, 83, 60);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    border : none;
    margin : 0 10px 0 0;
}



/*Nav Styling*/
.nav-bar{
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}

.nav-bar h1{
    font-size: 2rem;
    font-weight: 800;
}

.nav-anchors{
    border: 1px solid #2b2b2b;
    border-radius: 2.5rem;
    text-align: left;
    padding : 4px 0;
}


.nav-bar ul>li{
    text-decoration: none;
    list-style: none;
    margin : 0 1.4rem;
    padding-top: 0.55rem;
}

.hamburger{
    display: none;
}

#home{
    border: 1px solid black;
    background-color : #E6533C;
    padding: 8px 20px 8px 20px;
    text-align: left;
    border-radius: 46px;
    margin : 0 5px;
}

/* Banner Styling */

.banner-container{
    justify-content: center;
    align-items: center;
    gap : 170px;
}

.banner-title-box{
    max-width : 500px;
    text-align: left;
}

.banner-title {
    font-size: 4.5rem;
    font-weight: 900;
    margin: 0;
    line-height: 100%;
    text-align: left;
}

.btn-download {
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    color: white;
    padding: 16px 40px 16px 40px;
    font-size: 1.2rem;
    font-weight: 600;
}

.banner-container img{
    max-width: 100%;
}

.img-card{
    max-width: 500px;
    padding: 10px;
    position: relative;
}

.img-card .badge1{
    width: 170px;
    position:absolute;
    left: -80px;
    top : 400px;
    background: transparent;
    color : white;
    border: none;
    text-align: left;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 16px;
    gap : 8px;
    justify-content: center;
    align-items: center;
    padding : 20px 0px 20px 0px;
}

.img-card .badge2{
    width : 150px;
    position: absolute;
    left: 245px;
    top : 150px;
    text-align: left;
    color : white;
    border: none;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 16px;
    padding : 20px 10px 20px 10px;
}

.img-card h3 {
    margin : 3px;
    font-size: 1.3rem;
}

.img-card p{
    margin: 3px;
    font-size: 0.8rem;
}

.dot{
    background: #E6533C;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

/* Habits styling */

.habits{
    margin-top: 70px;
}

.habits-title{
    text-align: center;
    margin-bottom: 40px;
}

.habits-title h1{
    font-size: 3rem;
    font-weight: 800;
}

.habits-title p{
    font-size: 1rem;
    font-weight: 400;
}

.round-card{
    justify-content: center;
    text-align: center;
    gap : 30px;
    margin-bottom: 50px;
}

.round-card img{
    border-radius: 50%;
}

.round-card h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin : 24px 10px 10px 10px;
}

.round-card p{
    font-size: 0.8rem;
    font-weight: 400;
}


.card1, .card2, .card3, .card4{
    max-width: 231px;
}

.running{
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    background-color: #222222 ;
    gap : 200px;
}

.running-title{
    max-width: 444px;
}

.running img{
    width : 100%;
    height: 370px;
    border-radius: 18px;
    object-fit: none;
    object-position: 70% 33%;
}

.running h1{
    font-size: 3.0rem;
    font-weight: 800;
    margin : 5px 0 5px 0;
}

.running p{
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.running button{
    padding : 16px 80px;
}

/* Training Styling */
.training{
    max-width : 1060px;
    margin: 70px auto 0 auto;
    border-radius: 10px;
}


.training-title {
    max-width: 1060px;
    margin: 100px auto 0 auto;
}

.training-title h1 {
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
}

.training-title p {
    max-width : 676px;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
}

.grid-gallery{
    grid-template-columns: 250px 506px 300px;
    grid-auto-rows: 201.5px;
    justify-content: center;
}

.grid-gallery > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BMI styling  */

.BMI-container{
    justify-content: center;
}
.BMI-title{
    max-width: 676px;
    text-align: left;
    margin: 80px 80px;
}

.BMI-title h1 {
    margin: 60px 0 20px 0;
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
}

.BMI-title p {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
}

.calculator-container{
    background: rgb(34, 34, 34);
}

.calculator{
    justify-content: center;
    gap : 200px;
    padding : 50px;
}

.table-container h1, .form-container h1{
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.form-container p{
    margin: 0 0 20px 0;
    font-size: 0.8rem;
}

/* Table Section */
table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 30px 15px 30px;

}

th{
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

td{
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
}

.form-container{
    max-width: 577px;
}

.form-container p{
    font-size: 0.9rem;
    font-weight: 400;
}

input{
    height: 48px;
    background : rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    margin-top : 10px;
    text-align: left;
    padding: 0 90px 0 15px;
    color: rgba(207, 207, 207, 0.6);
}

.select-field1 {
    background :rgba(255, 255, 255, 0.1);
    color: rgba(207, 207, 207, 0.6);
    padding : 16px 187px 16px 10px;
    margin: 10px 10px;
    border: none;
    border-radius: 8px;
    font-size: 0.8rem;
}

.select-field2 {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(207, 207, 207, 0.6);
    padding: 16px 370px 16px 10px;
    margin-bottom : 30px;
    border: none;
    border-radius: 8px;
    font-size: 0.8rem;
}




/*Mobile large Responsive*/
@media screen and (max-width : 576px) {
    
    /* nav style for mobile large */
    .nav-anchors{
        display: none;
    }

    .hamburger{
        display: block;
    }

    /* banner style for mobile */
    .banner-container,.round-card,.running, .calculator{
        flex-direction: column;
    }

    .banner-title-box{
        margin-left: 5px;
    }

    .banner-title{
        max-width: 300px;
        font-size: 3rem;
    }

    .banner-description{
        max-width: 300px;
    }

    .btn-primary, .btn-download{
        padding : 12px 25px 12px 25px;
    }

    #club{
        display: none;
    }

    .img-card .badge1{
        left: 0px;
    }

    .img-card .badge2{
        left: 200px;
        top : 80px;
    }

    /* habits style for mobile */
    .round-card{
        align-items: center;
    }

   .habits-title h1{
    font-size: 2rem;
   }

   .habits-title p{
    font-size:  0.8rem;
    padding: 0 60px;
   }

   .running{
    margin : 15px;
    gap : 40px;
   }

   .running button{
    padding : 16px 120px;
   }

   .grid-gallery{
        max-width: 400px;
        grid-template-columns: repeat(1,1fr);
    }

    .training{
        margin: 30px auto 0 auto;
    }
     
    .training-title h1{
        font-size: 2.6rem;
        padding : 15px;
        margin: 0;
    }   

    .training-title p{
        padding : 15px;
        margin: 0;
    }

    .BMI-title{
        padding: 20px;
    }

    .BMI-title h1{
        font-size: 2.0rem;
    }

    .BMI-title p{
        font-size: 0.7rem;
    }

    .calculator{
        gap : 90px;
        padding : 30px;
    }

    input{
        padding: 0 0 0 15px;
        margin-right: 5px;
    }

    .input1{
        width : 100px;
        display: flex;
    }

    .select-field1{
        margin : 10px 0 0 0;
        padding : 0 103px 0 10px;
    }

    .select-field2{
        margin-top : 10px;
        padding : 16px 193px 16px 10px;
    }
    
}